@page "/save-file/{SaveFileName}"
@using BTWSaver.Config
@using BTWSaver.Models
@using BTWSaver.Services
@inject TrackerBrain Brain

<div class="scene">
    <div class="main-field">
        <div class="buttons-field">
            <div class="btn-field apply-btn-field">
                <div class="action-btn apply-btn" @onclick="Apply">Apply</div>
                <div class>@GetLastZipFileName()</div>
                <div style="display: flex; flex-direction: column; align-items: center; visibility: @(_progressPercentApply > 0 ? "visible" : "hidden");">
                    <div class="progress-track">
                        <div class="progress-fill progress-fill-apply" style="width: @_progressPercentApply%;"></div>
                    </div>
                    <div class="progress-text">@_progressPercentApply%</div>
                </div>
            </div>

            <div class="btn-field overwrite-btn-field">
                <div class="action-btn overwrite-btn" @onclick="Overwrite">Overwrite</div>
                <div>Confirmation menu</div>
    
                <div style="display: flex; flex-direction: column; align-items: center; visibility: @(_progressPercentOverwrite > 0 ? "visible" : "hidden");">
                    <div class="progress-track">
                        <div class="progress-fill progress-fill-overwrite" style="width: @_progressPercentOverwrite%;"></div>
                    </div>
                    <div class="progress-text">@_progressPercentOverwrite%</div>
                </div>
            </div>
            

            <div class="btn-field create-new-btn-field">
                <div class="action-btn create-new-file-btn" @onclick="CreateNew">Create New File</div>
    
                <div>Confirmation menu</div>
    
                <div style="display: flex; flex-direction: column; align-items: center; visibility: @(_progressPercentCreateNew > 0 ? "visible" : "hidden");">
                    <div class="progress-track">
                        <div class="progress-fill progress-fill-create-new" style="width: @_progressPercentCreateNew%;"></div>
                    </div>
                    <div class="progress-text">@_progressPercentCreateNew%</div>
                </div>
            </div>

            <div class="delete-btn-field">
                <div class="action-btn delete-btn" @onclick="DeleteLast">Delete</div>
            </div>

            <div class="delete-all-btn-field">
                <div class="action-btn delete-all-btn" @onclick="DeleteAll">Delete All</div>
            </div>
        </div>
    </div>

</div>

@code {
    [CascadingParameter] 
    public MainLayout ParentLayout { get; set; }

    [Parameter] 
    public string SaveFileName { get; set; } = "";

    private SaveFile activeSaveFile;

    protected override void OnParametersSet()
    {
        string decodedName = System.Net.WebUtility.UrlDecode(SaveFileName);
        activeSaveFile = Brain.SaveFiles.FirstOrDefault(t => t.SaveFileName.Equals(decodedName, StringComparison.OrdinalIgnoreCase));
        
        if (activeSaveFile == null)
        {
            activeSaveFile = new SaveFile { SaveFileName = decodedName, SaveFilePath = ParentLayout?.ChosenSaveFilePath };
            Brain.SaveFiles.Add(activeSaveFile);
            Brain.SaveToFile();
        }
    }

    private int _progressPercentApply = 0; 

    private async Task Apply()
    {
        _progressPercentApply = 0;
        StateHasChanged();
        
        if (activeSaveFile.LastIndex == 0)
            return;

        string worldToWipe = ParentLayout.ChosenSaveFilePath;

        var walkieTalkie = new Progress<int>(percent =>
        {
            _progressPercentApply = percent;
            InvokeAsync(StateHasChanged);
        });
        
        await Task.Run(() =>
        {
            BackupService.DeleteDirectory(worldToWipe);
        
            BackupService.UnZip(activeSaveFile.SaveFilePath, GetPathToLastZipFile(), walkieTalkie);
        });

        _progressPercentApply = 100;
        StateHasChanged();
        await Task.Delay(1000);
        _progressPercentApply = 0;
    }

    private int _progressPercentOverwrite = 0;
    
    private async Task Overwrite()
    {
        if (activeSaveFile.LastIndex == 0) return;

        string lastZipFilePath = GetPathToLastZipFile();
        
        if (File.Exists(lastZipFilePath))
            File.Delete(lastZipFilePath);

        var walkieTalkie = new Progress<int>(percent =>
            {
                _progressPercentOverwrite = percent;

                InvokeAsync(StateHasChanged);
            }
        );
        
        await Task.Run(() =>
        {
            BackupService.Zip(activeSaveFile.SaveFilePath, GetPathToLastZipFile(), walkieTalkie);
        });
        
        _progressPercentOverwrite = 100;
        StateHasChanged();
        await Task.Delay(1000);
        _progressPercentOverwrite = 0;
    }

    private int _progressPercentCreateNew = 0; 

    private async Task CreateNew()
    {
        string newZipFileName = (activeSaveFile.LastIndex == 0) ? activeSaveFile.SaveFileName + ".zip" 
            : activeSaveFile.SaveFileName + " (" + (activeSaveFile.LastIndex + 1) + ")" + ".zip";
        string pathToZipInto = Path.Combine(Brain.BackupFolder, newZipFileName);
    
        var walkieTalkie = new Progress<int>(percent => 
        {
            _progressPercentCreateNew = percent;

            InvokeAsync(StateHasChanged); 
        });

        await Task.Run(() => 
        {
            BackupService.Zip(activeSaveFile.SaveFilePath, pathToZipInto, walkieTalkie);
        });

        _progressPercentCreateNew = 100;
        StateHasChanged();
        await Task.Delay(1000);

        activeSaveFile.LastIndex++;
        _progressPercentCreateNew = 0; 
        SaveSettings();
    }

    private void DeleteLast()
    {
        if (activeSaveFile.LastIndex == 0)
            return;
        
        BackupService.DeleteFile(GetPathToLastZipFile());
        activeSaveFile.LastIndex--;
        
        SaveSettings();
    }

    private void DeleteAll()
    {
        if (activeSaveFile.LastIndex == 0)
            return;
        
        BackupService.DeleteAllIn(Brain.BackupFolder, activeSaveFile.SaveFileName);

        activeSaveFile.LastIndex = 0;

        SaveSettings();
    }

    private string? GetPathToLastZipFile()
    {
        if (GetLastZipFileName() == null)
            return null;
        return Path.Combine(Brain.BackupFolder, GetLastZipFileName());
    }

    private string? GetLastZipFileName()
    {
        if (activeSaveFile.LastIndex == 0)
            return null;
        
        return (activeSaveFile.LastIndex == 1) ? activeSaveFile.SaveFileName + ".zip" : $"{activeSaveFile.SaveFileName} ({activeSaveFile.LastIndex}).zip";
    }

    private void SaveSettings()
    {
        Brain.SaveToFile();
    }
    

}

<style>
    .scene { 
        display: flex; 
        flex-grow: 1; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        height: 100%; }
    
    .main-field {
        background-color: #1a1d20;
        width: 85%;
        height: 85%;
        border-radius: 10px;
        padding: 50px;
    }
    
    .buttons-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%
    }

    .btn-field {
        display: flex;
        flex-direction: row;
        align-items: center; 
        align-content: space-between;
        gap: 50px;
    }
    
    .action-btn {
        width: 150px;
        padding: 8px;
        
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.2s ease;
        cursor: pointer;
        color: black;
        
        flex-shrink: 0;

    }

    .progress-track {
        width: 150px;
        height: 15px;
        background-color: #000000;
        border-radius: 10px;
        border: 1px solid #333;
        overflow: hidden;
    }

    .progress-fill {
        height: 100%;
        border-radius: 10px;
        transition: width 0.1s linear
    }

    .progress-text {
        color: #ffffff;
        font-size: 14px;
        font-family: monospace;
    }
    
    .progress-fill-create-new {
        background: linear-gradient(to right, #0097ff, #02ffea);
    }

    .progress-fill-overwrite {
        background: linear-gradient(to right, #ff8800, #ffdd02);
    }
    
    .progress-fill-apply {
        background: linear-gradient(to right, #0d5c0c, #13ff02);
    }

    .action-btn:active {
        transform: scale(0.95);
    }
    
    .apply-btn {
        background-color: #1eb31e;
    }
    
    .apply-btn:hover {
        background-color: #00FF00FF;
        box-shadow: 0 4px 20px rgb(255, 249, 2, 0.8);
    }
    
    

    .overwrite-btn {
        background-color: #b36d1e;
    }

    .overwrite-btn:hover {
        background-color: #ff8000;
        box-shadow: 0 4px 20px rgba(255, 214, 79, 0.8);
    }

    .create-new-file-btn {
        background-color: #239797;
    }

    .create-new-file-btn:hover {
        background-color: #02ffea;
        box-shadow: 0 4px 20px rgba(166, 156, 255, 0.8);
    }

    .delete-btn {
        background-color: #bf2d2d;
    }

    .delete-btn:hover {
        background-color: #ff7272;
        box-shadow: 0 4px 20px rgba(255, 0, 0, 0.8);
    }

    .delete-all-btn {
        background: radial-gradient(circle, #ff6969, #000000);
        box-shadow: inset 0 0 0 200px #935e5e;
        transition: box-shadow 1s ease;
    }

    .delete-all-btn:hover {
        box-shadow: inset 0 0 0 200px transparent, 0 4px 20px rgba(255, 255, 255, 0.8);
        animation: shake-animation 0.5s infinite;
    }
    
    @@keyframes shake-animation {
        0% {transform: translateX(0);}
        20% {transform: translateX(-1px);}
        40% {transform: translateX(0);}
        60% {transform: translateX(-1px);}
        80% {transform: translateX(0);}
        100% {transform: translateX(-1px);}
    }
    
</style>